<?xml version='1.0' encoding='UTF-8' ?>
<!--

    Copyright (c) 2014 Oracle and/or its affiliates. All rights reserved.

    You may not modify, use, reproduce, or distribute this software except in
    compliance with  the terms of the License at:
    https://github.com/javaee/tutorial-examples/LICENSE.txt

-->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
          "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <ui:composition template="/examplexhtml.xhtml">

        <ui:define name="title">Inject Facelet</ui:define>
        <ui:define name="head">Inject Facelet</ui:define>
        <ui:define name="content">
            <h:form id="greetme">
               <p><h:outputLabel value="Enter your name: " for="name"/>
                  <h:inputText id="name" value="#{print.name}"/></p>
               <p><h:commandButton value="Question" 
                                   action="#{print.setWelcome}"/></p>                                   
               <p><h:outputText value="#{print.welcome}"/> </p>
               <p><h:outputText value="#{RJBSession.hello}"/> </p>
            </h:form>
        </ui:define>
    </ui:composition>
</html>

